:root{
    /* Colors */

    --clr-background: hsl(233, 46%, 7%);
    --clr-primary: hsl(246, 38%, 16%);
    --clr-secondary:hsl(279, 65%, 61%);
    --clr-font-main: hsl(0, 0%, 100%);
    --clr-font-main-stats: hsla(0, 0%, 100%, 0.6);
    --clr-font-p: hsla(0, 0%, 100%, 0.75);

    /* - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
       - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */

    /* Fonts */

    --ff-primary: "Inter", sans-serif;
    --ff-secondary: "Lexend Deca", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-background);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 5px;
    height: max-content;
}

.card-left{
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 70px 150px 70px 100px;
    flex: 1;
}

.card-titles{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: min-content;
}

.card-left h1{
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    color: var(--clr-font-main);
}

.span-title{
    color: var(--clr-secondary);
}

.card-left .card-titles p {
    color: var(--clr-font-main-stats);
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

.features{
    display: grid;
    padding-top: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    column-gap: 13%;
}

.features p{
    text-transform: uppercase;
    color: var(--clr-font-main-stats);
    font-family: var(--ff-secondary);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
}

.features h1 {
    color: var(--clr-font-main);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 25px;

}

.card-right {
    position: relative;
    display: flex;
}

.card-right img{
    width: 100%;
    height: 100%;
    
}

.card-right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr-secondary); /* Ajuste a cor do overlay */
    z-index: 1; /* Garante que o overlay esteja sobre a imagem */
    opacity: 60%;
}



/* reduced screen sizes (mobile) */

@media (max-width: 768px) {

    body{
        padding: 10px 10px;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .card-container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 400px;
        gap: 0;
    }

    .card-left{
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .card-titles{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 5%;
        gap: 30px;
    }

    .features{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 20px);
        text-align: center;
        gap: 20px;
        padding-top: 20px;
    }

    /* Move the <p> to the bottom of the corresponding titles without changing html and more divs */
    .features > :nth-child(4){
        grid-row: 2 / 3;
    }

    .features > :nth-child(5){
        grid-row: 4 / 5;
    }

    .features > :nth-child(6){
        grid-row: 6 / 6;
    }

    .card-right img{
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .card-right::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--clr-secondary); /* Ajuste a cor do overlay */
        z-index: 1; /* Garante que o overlay esteja sobre a imagem */
        opacity: 60%;
    }

   

/* tenho que descobrir como colocar a imagem a ocupar menos espaço */
    


}